SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{MAJOR}=="188", ENV{MINOR}=="1", SYMLINK+="ttyCOIN"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{MAJOR}=="188", ENV{MINOR}=="0", SYMLINK+="ttyHANDS"

SUBSYSTEM=="usb", ENV{ID_VENDOR}=="EPSON", ENV{ID_MODEL}=="TM-T20II", SYMLINK+="lpEPSON"
SUBSYSTEM=="usb", ENV{ID_VENDOR}=="EPSON", ENV{ID_MODEL}=="TM-T20II", MODE="0666"
