SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{MAJOR}=="188", ENV{MINOR}=="0", SYMLINK+="ttyCOIN"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="1a86_USB2.0-Serial", ENV{MAJOR}=="188", ENV{MINOR}=="1", SYMLINK+="ttyHANDS"
